<div *ngIf="card==2" class="container-fluid">
  <div class="row">

   <div class="col-md-12">

       <div class="card">
     <div class="card-header">
     </div>
     <div  class="card-body cart" >
         <div class="col-sm-12 empty-cart-cls text-center">
           <img src="../../../assets/images/empty-cart-removebg-preview.png" width="230" height="230" class="img-fluid mb-4 mr-3">
           <h3><strong>Your Cart is Empty</strong></h3>
           <h4>Add something to make me happy :)</h4>
           <a class="btn btn-primary cart-btn-transform m-3" data-abc="true" routerLink="/">continue shopping</a>
         </div>
     </div>



 </div>


   </div>

  </div>

 </div>





 <div *ngIf="card==1" class="container-fluid">
  <div class="row">

   <div class="col-md-12">

       <div class="card">
     <div class="card-header">
     </div>
     <div  class="card-body wish">
      <div class="col-sm-12 empty-cart-cls text-center">
        <img src="../../../assets/images/wishlist.png" width="230" height="230" class="img-fluid mb-4 mr-3">
        <!-- <h3><strong>Your Wishlist is Empty</strong></h3> -->
        <h4>Add something to make me happy :)</h4>
        <a class="btn btn-primary cart-btn-transform m-3" data-abc="true" routerLink="/">continue shopping</a>
      </div>
    </div>



 </div>


   </div>

  </div>

 </div>



 <div *ngIf="card==3" class="container-fluid">
  <div class="row">

   <div class="col-md-12">

       <div class="card">
     <div class="card-header">
     </div>
     <div  class="card-body wish">
      <div class="col-sm-12 empty-cart-cls text-center">
        <img src="https://cdn.dribbble.com/users/1665189/screenshots/4888072/media/802947aadfab3c655edc77f56f192a9c.gif" width="230" height="230" class="img-fluid mb-4 mr-3">
        <h3><strong>Order Confirm</strong></h3>
        <h4>Thankyou :)</h4>
        <a class="btn btn-primary cart-btn-transform m-3" data-abc="true" routerLink="/view-order-history">View Order History</a>
      </div>
    </div>



 </div>


   </div>

  </div>

 </div>




 <div *ngIf="card==4" class="container-fluid">
  <div class="row">

   <div class="col-md-12">

       <div class="card">
     <div class="card-header">
     </div>
     <div  class="card-body wish">
      <div class="col-sm-12 empty-cart-cls text-center">
        <img src="../../../assets/images/no " width="230" height="230" class="img-fluid mb-4 mr-3">
        <h3><strong>No Order.....</strong></h3>
       <h4>Add something to make me happy :)</h4>
       <a class="btn btn-primary cart-btn-transform m-3" data-abc="true" routerLink="/">continue shopping</a>
      </div>
    </div>



 </div>


   </div>

  </div>

 </div>
