<div class="section" style="background-color: #FFF5F2;" >
    <div class="container">
            <div class="image-section">
        <img src="../../../assets/images/Group 102.png">
      </div>
      <div class="content-section" style="margin-top: 30px;">
        <div class="title">
          <h2 style="color: orangered;">About Us</h2>
        </div>
        <div class="content">
          <h3>Every cake has a story. Create your own.</h3>
          <p>
                        Cakelicious is about the best cake experience, ever. I love creating cakes that are beautiful and taste delicious.
                        Cakes are for special moments. If my cakes can make you smile and help you enjoy the moment a little longer, I would be on top of the world.
                        Love it. Eat it. Love it more</p>
                        <br>
                        <br>
                        <p >It was 9 years back when Cakelicious made it to the cover page of Hindustan Times….. Cakelicious was the first one to start designer 3D Cakes in Indore…</p>
                        <p style="color: #3e1d1d;">Cakelicious / Meghna Sethi<br>
  
                            💯 Eggless<br>
                            FSSAI registered<br>
                            For Orders: 8818812222
                        </p>
                            <br>
                            <br>
  
                        <p>LOCATION : 23, Silver Enclave, 11/2, Old Palasia, Indore - 452001 (Next To Apollo Enclave, Behind Greater Kailash Hospital)    </p>
  
  
  
        </div>
        <div class="social" >
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-google"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
                    <p style="font-size: 15px; ">Managed by Meghna Sethi</p>
        </div>
      </div>
  
    </div>
  
  
  
  
  
    </div>